 <div>
    <%= image_tag("tree-1334129_1920.jpg",id: "bgAdmin") %>
     <div class="container">
          <div class="row">
              <h1 id="wellcome">Chào Mừng Bạn Đến Với Page Admin </h1>   
              <div id="ttAdmin" class="col-sm-12 text-center">
                  <p>Bản Quyền Website Du Lịch <strong>VietTravel.com.vn</strong></p>
                  <p><strong>Hotline</strong>: 0899 211 588, <strong>Điện thoại</strong> : 0236 3767588, <strong>Email</strong>: VietTravel@gmail.com  </p>
              </div>
          </div>          
      </div>
</div>
      
   