<% provide(:title, "thanh toan")%>
<div class="pay">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                 <%=image_tag("icon_thongtin.png") %>
                <div class="title">Thông Tin</div>
            </div>
            <div class="col-sm-4">
                <%=image_tag("checked.png") %>
                <div class="title">Xác Nhận</div>
            </div>
            <div class="col-sm-4">
                <%=image_tag("icon_thanhtoan.png") %>
                <div class="title">Thanh Toán</div>
            </div>
        </div>
        <div class="row text-center" id="pay-process">
            <div id="process">
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>       
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="processly">
                        <div class="process-bar"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="row text-center">
        	<div class="thanhtoan">
	        	<div class="thanks">Đặt Tour Thành Công!!!</div>
	        	<p>Cám ơn Quý Khách đã quan tâm và đặt Tour du lịch của Việt Travel. Chúng tôi sẽ liên hệ ngay với Quý khách trong thời gian sớm nhất để xác nhận yêu cầu đặt Tour.</p>
        	</div>
        </div>
    </div>
</div>


    