<% provide(:title, "Detail ")%>
<div class="Chitiet">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= image_tag 'HoiAn.jpg', class: 'image_detail' %>
        <div id="details">
          <h2 class="text-center">Giới Thiệu</h2>
          <p id="noidung">Hãy cùng Lửa Việt tham gia Tour du lịch Đà Nẵng – Hội An – Huế để có những giây phút thư giãn tuyệt vời nhất.
          Dải đất miền Trung được biết đến với nhiều danh lam thắng cảnh, khu di tích lịch sử có giá trị. Đến du lịch miền Trung du khách không thể bỏ qua Đà Nẵng - “thành phố đáng sống nhất Việt Nam”, Hội An - đô thị cổ tồn tại duy nhất ở Việt Nam hoặc Huế - mảnh đất Thần Kinh. Mỗi vùng miền đều có những điểm du lịch nổi bật để du khách tìm hiểu, khám phá và trải nghiệm.</p>
        </div>
      </div>
      <div  class="col-sm-4">
        <div id="checkTour" class="text-center">
          <h2 class="text-center">ĐÀ NẴNG - BÀ NÀ - HỘI AN</h2>
          <p ><span class="glyphicon glyphicon-time "></span><strong> Thời Gian</strong>: 3 ngày 2 đêm</p>
          <p><span class="glyphicon glyphicon-calendar"></span><strong> Khởi Hành</strong> : 28/03/2019 - <strong>Kết Thúc</strong> : 31/03/2019</p>
          <p><span class="glyphicon glyphicon-earphone"></span><strong> Liên Hệ</strong>: 19001800</p> 
          <h3>3.250.000 VNĐ</h3>  
          <a id="bookTour" href="#">Đặt Tour</a>
        </div>
      </div>
    </div>
  </div>
</div>