<% provide(:title, "Chỉnh Sữa Danh Mục")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">chinh sua Danh Mục</h4>
                </div>
                <div class="card-body">
                    <%= form_for [:admin, @admin_category] do |f| %>
                    <div class="row">
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <%= f.label :name, class: 'bmd-label-floating'%>
                          <%= f.text_field :name, class: 'form-control' %>
                        </div>
                      </div>
                    </div>                    
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                        <%= f.submit "Chỉnh Sữa", class: "btn btn-primary text-center",data: { confirm: "ban co muon chinh sua danh muc " } %>
                      </div>
                    </div>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>    