<% provide(:title, "quan ly danh muc")%>
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
               <%= link_to "them moi", new_admin_category_path, class: "btn btn-warning" %>
              <div class="card">
                <div class="card-header card-header-primary" >
                  <h4 class="card-title ">Quản Lý Danh Mục</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary text-center">
                        <th>ID</th>
                        <th>Tên Loại Tour</th>
                        <th>Chức Năng</th>
                      </thead>
                      <tbody>
                        <% @admin_categories.each do |admin_categorie | %>
                          <tr class="text-center">
                            <td><%= admin_categorie.id %></td>
                            <td><%= admin_categorie.name %></td>
                            <td>
                              <a href="" title=""><img src="images/edit (1).png" alt=""> Sửa</a>
                              <a href="" title=""><img src="images/delete-button.png" alt="">Xóa</a>
                            </td>
                          </tr>
                        <% end %>     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          <%= will_paginate @admin_categories %>
    </div>
  </div>
</div>